* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding: 0;
  margin: 0;
}

/* Cabeçalho */
header {
  background-color: #004080;
  color: rgb(235, 254, 255);
  padding: 20px 0;
  text-align: center;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

aside {
  width: 200px;
  padding: 20px;
  background-color: #e0f8ff;
  margin-right: 20px;
  border-radius: 8px;
  height: fit-content;
  clear: both;
}

aside nav ul {
  list-style: none;
  padding: 0;
}

aside nav ul li {
  margin-bottom: 15px;
}

aside nav ul li a {
  text-decoration: none;
  color: #004080;
  font-weight: bold;
}

aside nav ul li a:hover {
  color: #001031;
}

main {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.imagem {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

form {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  text-align: left;
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0066cc;
}

#mensagem-feedback {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

#mensagem-feedback.sucesso {
  color: green;
}

#mensagem-feedback.erro {
  color: red;
}

footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}